{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to VAX App</h1>
    </div>

    
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Birth Date</th>
          <th>Mother</th>
          <th>Gender</th>
          <th>Status</th>
          <th>File No</th>
          <th>MRN</th>
          <th>Updated</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
       
          {% for child in children %}
          <tr>
          <td><a href="{% url 'child_show' child.id %}">{{ child.fullname }}</a></td>
          <td>{{ child.national_id }}</td>
          <td>{{ child.birth_date }}</td>
          <td><a href="{% url 'mother_show' child.mother.id %}">{{ child.mother }}</a></td>
          <td>{{ child.get_gender_display }}</td>
          <td>{{ child.get_status_display }}</td>
          <td>{{ child.file_no }}</td>
          <td>{{ child.MRN }}</td>
          <td>{{ child.updated }}</td>
          <td align="center" > 
            <button type="submit" class="btn btn-default">
              <a href="{% url 'child_update' child.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="false"></span></a>
            </button>
            <form action="{% url 'child_delete' child.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-default"><span type="submit" class="glyphicon glyphicon-trash"></span></button>
            </form>
          
          </td>
        </tr>
          {% endfor %}
       
        
      </tbody>
    </table>
    
{% endblock content %}